html, body, div, p, section, img, footer {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;

    box-sizing: border-box;
    color:#373737;
    background: #212121;
    font-size: 16px;
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* Footer styles */
footer {
    display: block;
}
footer p {
    color: #f2f2f2;
}
footer a {
    color: #F2F2F2;
    text-decoration: underline;
}

/* Main content */
#main_content {
    padding-top: 40px;
}
.outer {
    width: 100%;
}
.inner {
    position: relative;
    margin: 0 auto;
}
img {
    position: relative;
    margin: 0 auto;
}

/* Copyright styles */
.copyright {
    position: absolute;
    text-align: center;
    bottom: 20px;
    left: 50%;
    width: 250px;
    padding: 10px 0 15px 0;
    margin-left: -125px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright img {
    margin: 0 1em
}